---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';

export const frontMatter = {
  title: 'Contact me',
  description: 'Contact me for any questions or inquiries.',
};

---
<Layout title="Contact me">
  <Header />
  <main>
    <h1>Contact me</h1>
    <p>Feel free to contact me for any questions or inquiries.</p>
    <form name="contact" method="POST" data-netlify="true">
      <input type="hidden" name="form-name" value="contact" />
      <div>
        <label for="name">Name</label>
        <input type="text" id="name" name="name" required />
      </div>
      <div>
        <label for="email">Email</label>
        <input type="email" id="email" name="email" required />
      </div>
      <div>
        <label for="message">Message</label>
        <textarea id="message" name="message" required></textarea>
      </div>
      <div>
        <button type="submit">Send</button>
      </div>
    </form>    
  </main>
  <Footer />
</Layout>

<style>
    main {
        padding: 2rem;
        color: #ccc;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    form {
        display: grid;
        gap: 1rem;
        background-color: #222;
        padding: 2rem;
        border-radius: 0.5rem;
    }

    label {
        font-weight: bold;
        color: #0f0;
    }

    input,
    textarea {
        padding: 0.5rem;
        border: 1px solid #ccc;
        background-color: #333;
        color: #ccc;
    }

    button {
        padding: 0.5rem 1rem;
        background-color: #0f0;
        color: white;
        border: none;
        cursor: pointer;
    }

    button:hover {
        background-color: #0a0;
    }


</style>
